body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body: Inter;
  --h3: Outfit;

  /* font sizes */
  --font-size-xs: 12px;
  --body-size: 18px;
  --h3-size: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --headers-size: 20px;
  --font-size-base: 16px;
  --h2-size: 48px;
  --font-size-19xl: 38px;
  --h1-size: 64px;
  --font-size-32xl: 51px;
  --font-size-109xl: 128px;
  --font-size-13xl: 32px;
  --font-size-2xs: 11px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-darkslateblue: #161a43;
  --color-gray-100: #212121;
  --color-deeppink: #eb4074;
  --color-hotpink: #ff598f;
  --color-black: #000;
  --color-darkslategray: #2c384b;
  --color-blue: #4200ff;
  --light-grey: #cacaca;
  --grey-aaa: #595959;

  /* Gaps */
  --gap-0: 0px;
  --gap-smi: 13px;
  --gap-xl: 20px;
  --gap-53xl: 72px;
  --gap-15xl: 34px;
  --gap-2xl: 21px;
  --gap-lg: 18px;
  --gap-5xl: 24px;
  --gap-22xl: 41px;
  --gap-21xl: 40px;
  --gap-17xl: 36px;
  --gap-379xl: 398px;
  --gap-7xs: 6px;
  --gap-12xl: 31px;
  --gap-6xs: 7px;

  /* Paddings */
  --padding-27xl: 46px;
  --padding-24xl: 43px;
  --padding-12xs: 1px;
  --padding-7xs: 6px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-xl: 20px;
  --padding-31xl: 50px;
  --padding-28xl: 47px;
  --padding-2xs: 11px;
  --padding-9xs: 4px;
  --padding-141xl: 160px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-2xl: 21px;
  --padding-8xl: 27px;
  --padding-15xl: 34px;
  --padding-181xl: 200px;
  --padding-81xl: 100px;
  --padding-17xl: 36px;
  --padding-23xl: 42px;
  --padding-6xs: 7px;
  --padding-xs: 12px;
  --padding-16xl: 35px;
  --padding-129xl: 148px;
  --padding-77xl: 96px;
  --padding-78xl: 97px;
  --padding-117xl: 136px;
  --padding-29xl: 48px;
  --padding-4xl: 23px;
  --padding-13xl: 32px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-9xs: 4px;
}


  /* 
  -----------------------------
  -----------------------------
  */



.logo {
  align-self: stretch;
  width: 7.313rem;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.688rem;
}
.who-we-are {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
  color: #161A43;
  text-decoration: none;
}

.who-we-are:hover {
  color: #EB4074;
}

.navbar-element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar,
.navbar-element-parent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.navbar-element-parent {
  width: 761px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 var(--padding-181xl);
  gap: var(--gap-xl);
}
.navbar {
  align-self: stretch;
  background-color: var(--color-white);
  align-items: center;
  justify-content: center;
  padding: var(--padding-15xl) var(--padding-xl) var(--padding-15xl)
    var(--padding-2xl);
  gap: 0 243px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--headers-size);
  color: var(--color-darkslateblue);
  font-family: var(--h3);
}



