.asset-2-18 {
  align-self: stretch;
  width: 117px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 27px;
}
.who-we-are16 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.navbar-element16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.who-we-are17 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.navbar-element17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.who-we-are18 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
}
.navbar-element18 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.who-we-are19 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
}
.navbar-element19 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.first-frame,
.navbar4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.first-frame {
  width: 761px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 var(--padding-181xl);
  gap: var(--gap-xl);
}
.navbar4 {
  align-self: stretch;
  background-color: var(--color-white);
  align-items: center;
  justify-content: center;
  padding: var(--padding-15xl) var(--padding-xl) var(--padding-15xl)
    var(--padding-2xl);
  gap: 0 243px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--headers-size);
  color: var(--color-darkslateblue);
  font-family: var(--h3);
}
.lorem-ipsum-dolor10,
.text4 {
  width: 254px;
  position: relative;
  display: none;
}
.lorem-ipsum-dolor10 {
  width: 1565px;
  font-size: var(--h2-size);
  font-family: var(--body);
  max-width: 100%;
}
.group-frame-icon {
  width: 100%;
  height: calc(100% - 72px);
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 72px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.nous-adaptons-nos1,
.vos-besoins1 {
  margin: 0;
}
.nous-adaptons-nos-container1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.nous-personnalisons-nosprojets1 {
  margin: 0;
  width: 644px;
  position: relative;
  font-size: var(--body-size);
  font-weight: 500;
  font-family: var(--body);
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.management-frame {
  width: 891px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
  max-width: 100%;
}
.learn-more5 {
  position: relative;
  font-size: var(--body-size);
  text-transform: uppercase;
  font-family: var(--h3);
  color: var(--color-white);
  text-align: left;
}
.button-primary6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xl);
  background-color: var(--color-deeppink);
  width: 163px;
  border-radius: var(--br-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.button-primary6:hover {
  background-color: var(--color-hotpink);
}
.group-frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-117xl) var(--padding-141xl) 0;
  box-sizing: border-box;
  position: relative;
  gap: 40px 0;
  min-height: 779px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--h1-size);
  color: var(--color-white);
  font-family: var(--h3);
}
.domaines-dattention {
  margin: 0;
  height: 25px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
}
.lorem-ipsum-dolor11,
.management2 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.management2 {
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.lorem-ipsum-dolor11 {
  font-size: var(--body-size);
  font-weight: 400;
  font-family: var(--body);
}
.management-group {
  align-self: stretch;
  background: linear-gradient(102.86deg, #eb4074, #8a1480);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-28xl);
  gap: 18px 0;
}
.lorem-ipsum-dolor12,
.management3 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.management3 {
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.lorem-ipsum-dolor12 {
  font-size: var(--body-size);
  font-weight: 400;
  font-family: var(--body);
}
.instance-container,
.management-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.management-container {
  align-self: stretch;
  background: linear-gradient(102.86deg, #eb4074, #8a1480);
  align-items: center;
  padding: var(--padding-31xl) var(--padding-28xl);
  gap: 18px 0;
}
.instance-container {
  flex: 1;
  align-items: flex-start;
  gap: 21px 0;
  min-width: 357px;
  max-width: 100%;
}
.lorem-ipsum-dolor13,
.management4 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.management4 {
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.lorem-ipsum-dolor13 {
  font-size: var(--body-size);
  font-weight: 400;
  font-family: var(--body);
}
.management-parent1 {
  align-self: stretch;
  background: linear-gradient(102.86deg, #eb4074, #8a1480);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-28xl);
  gap: 18px 0;
}
.lorem-ipsum-dolor14,
.management5 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.management5 {
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.lorem-ipsum-dolor14 {
  font-size: var(--body-size);
  font-weight: 400;
  font-family: var(--body);
}
.management-parent2 {
  align-self: stretch;
  background: linear-gradient(102.86deg, #eb4074, #8a1480);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 61px var(--padding-28xl) 62px;
  gap: 18px 0;
}
.instance-parent1 {
  flex: 1;
  flex-direction: column;
  gap: 21px 0;
  min-width: 357px;
}
.footer12,
.instance-parent1,
.text-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.text-block {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 21px;
  font-size: var(--h3-size);
  color: var(--color-white);
}
.footer12 {
  width: 1159px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 72px;
  box-sizing: border-box;
  gap: 34px 0;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--headers-size);
  color: var(--color-gray-100);
  font-family: var(--h3);
  margin-left: 141px;
}
.rectangle-div {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
}
.asset-2-19 {
  width: 110.2px;
  height: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.a-propos29 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.footer-comp31 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.a-propos30 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.footer-comp32 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-10xs) 0 0;
}
.a-propos31 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}
.footer-comp33 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.a-propos32 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.footer-comp34 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
}
.asset-2-1-container,
.footercomp2 {
  display: flex;
  align-items: flex-start;
}
.footercomp2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.asset-2-1-container {
  width: 336px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-7xs) 0;
  box-sizing: border-box;
  gap: 20px 0;
  max-width: 100%;
}
.line-1-stroke4 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.a-propos33 {
  position: relative;
  text-transform: capitalize;
  white-space: nowrap;
}
.footer-comp35 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.a-propos34 {
  position: relative;
  text-transform: capitalize;
  white-space: nowrap;
}
.footer-comp36 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.a-propos35 {
  position: relative;
  text-transform: capitalize;
}
.footer-comp-parent1,
.footer-comp37 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-comp-parent1 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 25px;
  max-width: 100%;
}
.copyright-2024-all4 {
  position: relative;
  text-transform: capitalize;
}
.frame-parent3,
.frame-parent4 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  min-height: 16px;
  gap: var(--gap-xl);
  font-family: var(--body);
}
.frame-parent3 {
  width: 1120px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-smi);
  z-index: 1;
}
.footer14,
.footer15 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.footer15 {
  flex: 1;
  padding: var(--padding-27xl) var(--padding-24xl) var(--padding-24xl);
  box-sizing: border-box;
  position: relative;
}
.footer14 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ant-designfacebook-filled-icon8,
.mdilinkedin-icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.socialmedialinks {
  position: absolute;
  height: 11.94%;
  width: 4.58%;
  top: 44.28%;
  right: 11.11%;
  bottom: 43.78%;
  left: 84.31%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 18px;
  z-index: 1;
}
.footer13 {
  height: 201px;
  flex: 1;
  position: relative;
  overflow-x: auto;
  max-width: 100%;
}
.footer-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-129xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--h3);
}
.ant-designfacebook-filled-icon9,
.mdilinkedin-icon9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.linked-in-icon,
.linkedin-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.linked-in-icon {
  justify-content: flex-start;
  padding: 0;
  gap: 0 18px;
}
.linkedin-footer {
  width: 1160px;
  justify-content: flex-end;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.services {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-109xl);
  color: var(--color-black);
  font-family: var(--h3);
}
@media screen and (max-width: 1200px) {
  .navbar4 {
    gap: 0 243px;
  }
  .group-frame-parent {
    padding-left: var(--padding-61xl);
    padding-right: var(--padding-61xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .text4 {
    font-size: var(--font-size-32xl);
  }
  .lorem-ipsum-dolor10 {
    font-size: var(--font-size-19xl);
  }
  .nous-adaptons-nos-container1 {
    font-size: var(--font-size-32xl);
  }
  .management2,
  .management3,
  .management4,
  .management5 {
    font-size: var(--font-size-10xl);
  }
  .footer12 {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .services {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .first-frame {
    display: none;
    padding-left: var(--padding-81xl);
    box-sizing: border-box;
  }
  .navbar4 {
    gap: 0 243px;
  }
  .group-frame-parent {
    gap: 40px 0;
    padding-left: var(--padding-21xl);
    padding-top: 88px;
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .management-container,
  .management-group,
  .management-parent1,
  .management-parent2 {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .footer12 {
    gap: 34px 0;
  }
  .frame-parent4 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .first-frame {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .navbar4 {
    gap: 0 243px;
  }
  .text4 {
    font-size: var(--font-size-13xl);
  }
  .lorem-ipsum-dolor10 {
    font-size: var(--font-size-10xl);
  }
  .nous-adaptons-nos-container1 {
    font-size: var(--font-size-19xl);
  }
  .domaines-dattention {
    font-size: var(--font-size-base);
  }
  .management2 {
    font-size: var(--font-size-3xl);
  }
  .management-group {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .management3 {
    font-size: var(--font-size-3xl);
  }
  .instance-container {
    min-width: 100%;
  }
  .management4 {
    font-size: var(--font-size-3xl);
  }
  .management-parent1 {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .management5 {
    font-size: var(--font-size-3xl);
  }
  .instance-parent1 {
    min-width: 100%;
  }
  .footer12 {
    padding-bottom: 31px;
    box-sizing: border-box;
  }
  .footer-comp-parent1,
  .footercomp2 {
    flex-wrap: wrap;
  }
  .footer13 {
    height: auto;
    min-height: 201;
  }
}
